// colors
$primary:#ed4c5c;
$secondary:#000000;
$light: #ffffff;
$gray:#fafafa;
//Font-sizes
$xs:12px;
$sm:14px;
$normal:16px;
$md:18px;
$lg:36px;
$xl:72px;
//Font-family
$LR:"Lato-Regular";
$LB: "Lato-Bold";
